body {
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
  position: relative;
  z-index: 1;
  font-family: 'Dongle', sans-serif;
  font-family: 'Jua', sans-serif;
}
body::after {
  width: 100vw;
  height: 100%;

  content: "";
  background-image: url("https://pbs.twimg.com/media/Ez9br3nVEAMf9ei.jpg:large");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}
.section {
  padding: 1rem 1.5rem;
  max-width: 750px;
  margin: auto;
}

.is-sparta {
  color: #e8344e !important;
}

.button.is-sparta {
  background-color: #e8344e;
  border-color: transparent;
  color: #fff !important;
}

.button.is-sparta.is-outlined {
  background-color: transparent;
  border-color: #e8344e;
  color: #e8344e !important;
}

.modal-content {
  width: 600px;
  max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
